body {
  font-family: "Poppins", sans-serif;

  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* #region HEADER */

.main-header .container {
  display: flex;
  align-items: center;
  gap: 73px;
}

.navigation {
  display: flex;
  gap: 237px;
  align-items: center;
}

.main-header-logo {
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 16px;
  /* line-height: 28px; */
  line-height: 0.93;
  color: #173a56;
}

.main-header-list {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.main-header-link {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 26px;
  padding-top: 26px;
  display: block;
  line-height: 1.75;
  color: #22343d;

  transition-property: background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.main-header-link:hover,
.main-header-link:focus,
.main-header-link:active {
  transform: scale(1.1);
}

.current {
  font-weight: 600;
}

.main-header-list-btn {
  display: flex;
  gap: 21px;
}

.main-header-btn {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  height: 42px;
  border-radius: 4px;
}

/* .main-header-btn:hover,.main-header-btn:focus{
    background-color: #008080;
} */
.sign-in {
  color: #173a56;
  width: 105px;
  border: 1px solid #bcd0e5;
  background: #fff;

  transition-property: box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.sign-in:hover,
.sign-in:focus,
.sign-in:active {
  transform: scale(1.1);
  background-color: #e0dfdf;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.sign-up {
  color: #fff;
  width: 113px;
  background: #02897a;

  transition-property: color, box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.sign-up:hover,
.sign-up:focus,
.sign-up:active {
  transform: scale(1.1);
  background-color: #5cbab4;
  color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}
/* #endregion */

/* MAIN */
/* #region section Presentation  */
.hero {
  padding: 25px 0 50px;
}

.hero .container {
  display: flex;
  gap: 35px;
  align-items: center;
}

.hero-main-title {
  font-weight: 700;
  font-size: 40px;

  /* line-height: 60px; */
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}

.hero-main-title-descr {
  font-weight: 400;
  font-size: 18px;

  /* line-height: 28px; */
  line-height: 1.55;
  color: #22343d;
  margin-bottom: 45px;
}

.hero-main-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-main-btn {
  border-radius: 4px;
  font-size: 16px;
}

.hero-get {
  width: 178px;
  height: 53px;
  background: #02897a;
  color: #fff;
  font-weight: 700;
  box-shadow: 2px 2px 2px 2px #d0d3d3;
}

.hero-watch {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  width: 164px;
  height: 53px;
  background: inherit;
}

/* #region section Presentation  */
.presentation {
  padding: 25px 0 50px;
}

.presentation .container {
  display: flex;
  gap: 35px;
  align-items: center;
}

.presentation-tite {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}

.presentation-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #22343d;
  margin-bottom: 45px;
}

.presentation-btn-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.presentation-btn-getstarted {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  width: 178px;
  height: 53px;
  border-radius: 4px;
  background: #02897a;
  border: none;

  transition-property: box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.presentation-btn-getstarted:hover,
.presentation-btn-getstarted:focus,
.presentation-btn-getstarted:active {
  transform: scale(1.1);
  background-color: #5cbab4;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.presentation-btn-watch {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 9px;

  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.presentation-btn-watch:hover,
.presentation-btn-watch:focus,
.presentation-btn-watch:active {
  transform: scale(1.1);
}

.presentation-svg {
  fill: #02897a;
}

/* #endregion */

/* #region section Product  */

.product {
  padding: 50px 0;
}

.product-section-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  padding-bottom: 50px;
  max-width: 490px;
  margin: 0 auto;
}

.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.product-title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  padding-bottom: 13px;
}

.product-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  max-width: 255px;
  margin-bottom: 50px;
}

.product-btn {
  border-radius: 4px;
  width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #02897a;
  display: block;
  margin: 0 auto;

  transition-property: box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.product-btn:hover,
.product-btn:focus,
.product-btn:active {
  transform: scale(1.1);
  background-color: #5cbab4;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.product-svg-box {
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: box-shadow, transform;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.product-svg-box:hover,
.product-svg-box:focus,
.product-svg-box:active {
  transform: scale(1.3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.green {
  background: #02897a;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  margin-bottom: 26px;
}

.blue {
  background: #4d8dff;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  margin-bottom: 26px;
}

.violet {
  background: #740a76;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  margin-bottom: 26px;
}

.red {
  background: #f03e3d;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  margin-bottom: 26px;
}

.product-svg-box svg {
  fill: white;
}
/* #endregion */

/* #region section Management */
.management .container {
  display: flex;
  justify-content: center;
  gap: 84px;
  margin-top: 91px;
}

.management-text-container {
  display: flex;
  flex-direction: column;
  max-width: 486px;
}

.management-main-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.multi-span-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  padding-bottom: 8px;
}

.management-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}

.management-list-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
  margin-top: 25px;
}

.management-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
}

.management-img,
.support-img,
.opti-img {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.management-img:hover,
.management-img:focus,
.management-img:active,
.support-img:hover,
.support-img:focus,
.support-img:active,
.opti-img:hover,
.opti-img:focus,
.opti-img:active {
  transform: scale(1.1);
}
/* #endregion */
.support .container {
  display: flex;
  justify-content: center;
  gap: 84px;
  margin-top: 100px;
}

.support-text-container {
  display: flex;
  flex-direction: column;
}

.support-main-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.support-span-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.support-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  margin-bottom: 30px;
}

.support-list {
  display: flex;
  flex-direction: column;
}

.support-item {
  margin-bottom: 25px;
  display: flex;
}

.support-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  display: flex;
}

.support-item-text::before {
  content: "";
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  background-color: #f90;

  background-image: url("../images/done.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;

  margin-right: 30px;
}

.support-item:nth-child(2) .support-item-text::before {
  background-color: #f03e3d;
}

.support-item:nth-child(3) .support-item-text::before {
  background-color: #4d8dff;
}

/* #endregion */

/* #region section Opti */
.opti .container {
  display: flex;
  gap: 25px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.opti-text-container {
  max-width: 486px;
  display: flex;
  flex-direction: column;
}

.opti-main-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.opti-span-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.opti-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  margin-bottom: 30px;
}

.opti-list-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  margin-bottom: 12px;
  margin-top: 25px;
}

.opti-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
}
/* #endregion */

/* #region section EXPERT */

.expert .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expert-global-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expert-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 542px;
}

.expert-title {
  margin-top: 150px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
}

.expert-text {
  text-align: center;
}

.expert-container {
  display: flex;
  gap: 100px;
  margin-top: 40px;
}

.expert-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expert-item-text {
  margin-left: 10px;
  margin-right: 10px;
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  padding: 13px 20px;
  border-radius: 25px;

  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.expert-item-text:hover,
.expert-item-text:focus,
.expert-item-text:active {
  color: #02897a;
}

.expert-btn {
  margin-top: 50px;
  width: 216px;
  height: 53px;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background: #02897a;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;

  transition-property: box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.expert-btn:hover,
.expert-btn:focus,
.expert-btn:active {
  transform: scale(1.1);
  background-color: #5cbab4;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

/* #endregion */

/* #region section STRATEGI */
.strategi {
  margin-top: 100px;
}

.strategi .container {
  display: flex;
  flex-direction: column;
}

.strategi-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}

.strategi-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  margin-bottom: 40px;
  max-width: 465px;
}

.strategi-list {
  display: flex;
  gap: 30px;
}

.strategi-list-container {
  display: flex;
  flex-direction: column;
}

.strategi-text-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  border-radius: 8px;
  width: 350px;
  height: 359px;
}

.strategi-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
}

.strategi-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
}

/* #endregion */
/* ! */
/* #region section PRICE */
.price {
  margin-top: 171px;
}

.price.container {
  display: flex;
}

.price-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}

.price-text {
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  text-align: center;
  margin-bottom: 40px;
}

.price-list {
  display: flex;
  justify-content: center;
  gap: 72px;
}

.price-list-item:nth-child(2) {
  background-color: #02897a;
}

.price-list-item:nth-child(2) .price-plan,
.price-list-item:nth-child(2) .price-dsc,
.price-list-item:nth-child(2) .price-money,
.price-list-item:nth-child(2) .price-usa,
.price-list-item:nth-child(2) .price-month,
.price-list-item:nth-child(2) .price-operators {
  color: white;
}

.price-list-item:nth-child(2) .price-btn {
  background: white;
  color: #02897a;
}

.price-list-item {
  border-radius: 8px;
  width: 322px;

  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-plan {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  margin-top: 32px;
}

.price-dsc {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
}

.price-box {
  display: flex;
  align-items: center;
}

.prive-box-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7px;
}

.price-money {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.price-usa {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}

.price-month {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.price-operators {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
  color: #22343d;

  text-align: center;
  margin: 16px 0;
}

.price-btn {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background: #02897a;
  margin-top: 30px;
  margin-bottom: 32px;

  transition-property: box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.price-btn:hover,
.price-btn:focus,
.price-btn:active {
  transform: scale(1.1);
  background-color: #5cbab4;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

/* #endregion */
/* ! */
/* #region section CLIENT */
.client .container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.client-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78;
  letter-spacing: 0.01em;
  color: #22343d;

  text-align: center;
  padding-bottom: 15px;
}

.client-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;

  max-width: 537px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.client-list {
  display: flex;
  gap: 64px;
}

.client-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 30px 35px;
  width: 327px;
  height: 240px;
}

.client-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
}

.box-client {
  display: flex;
  margin-top: 16px;
}

.client-dsr-name {
  margin-left: 14px;
}

.client-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

.client-item-position {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}

.join-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;

  background-color: #02897a;
  border-radius: 32px;
  width: 968px;
  height: 345px;

  margin-top: 100px;
}

.join-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
  max-width: 510px;
  margin-bottom: 46px;
  margin-left: 51px;
}

.join-btn {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background: #fff;

  font-weight: 600;
  font-size: 20px;
  color: #02897a;

  margin-left: 51px;

  transition-property: color, box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.join-btn:hover,
.join-btn:focus,
.join-btn:active {
  transform: scale(1.1);
  background-color: #5cbab4;
  color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

/* #endregion */

/* #region FOOTER */
.footer .container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.footer-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-img-logo {
  width: 39px;
  height: 36px;
}

.footer-social-item {
  background-color: #edfffc;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.footer-social-item:hover,
.footer-social-item:focus,
.footer-social-item:active {
  transform: scale(2);
}

.footer-social-list {
  display: flex;
  margin-top: 18px;
  gap: 16px;
}

.footer-social-use {
  stroke: #02897a;
  fill: transparent;
}

.footer-resource-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
  margin-left: 146px;
  margin-right: 156px;
}

.footer-resource-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.18;
  color: #22343d;
  margin-left: 146px;
  margin-right: 156px;
}

.footer-legal-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
}

.footer-legal-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.18;
  color: #22343d;
}

.footer-newsletter-container {
  display: flex;
  flex-direction: column;
  margin-left: 83px;
}

.footer-newsletter-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  max-width: 280px;
  margin-bottom: 30px;
}

.footer-last-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #22343d;
  margin-top: 10px;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
}

.fotter-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-input-box {
  position: relative;
}

.footer-label {
}

.footer-form-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}

.footer-form-use {
  fill: #02897a;
}

.footer-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;

  padding: 10px 42px;
  border: 1px solid #bcd0e5;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.footer-input:hover,
.footer-input:focus {
  border: 2px solid #5cbab4;
}

.footer-input:hover::placeholder,
.footer-input:focus::placeholder {
  color: #5cbab4;
}

.footer-input:focus-within {
}

.footer-newsletter-btn {
  width: 131px;
  height: 39px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #02897a;
  border-radius: 4px;
  border: none;

  transition-property: box-shadow, transform, color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
}

.footer-newsletter-btn:hover,
.footer-newsletter-btn:focus,
.footer-newsletter-btn:active {
  transform: scale(1.1);
  color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #5cbab4;
}

/* #endregion */
