body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* !================= HEADER ================= */
.main-header .container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navigation {
  display: flex;
  gap: 236px;
  align-items: center;
}

.main-header-logo {
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 0.93;
  color: #173a56;
}

.main-header-list {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.main-header-link {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 26px;
  padding-top: 26px;
  display: block;
  line-height: 1.75;
  color: #22343d;

  transition-property: background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
  }
}

.current {
  font-weight: 600;
}

.main-header-list-btn {
  display: flex;
  align-items: center;
  gap: 21px;
}

.theme-btn {
  background: #f3f3f3;
  border-radius: 100px;
  max-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  transition-property: box-shadow, transform;
  transition-duration: 300ms;
  transition-delay: 0;
  transition-timing-function: ease;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
}

.theme-btn-svg {
  fill: #02897a;
}

.main-header-btn {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  height: 42px;
  border-radius: 4px;
}

.sign-in {
  color: #173a56;
  width: 105px;
  border: 1px solid #bcd0e5;
  background: #fff;

  transition-property: box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    background-color: #e0dfdf;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
}

.sign-up {
  color: #fff;
  width: 113px;
  background: #02897a;

  transition-property: color, box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    background-color: #5cbab4;
    color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
}

/* !================= Section Price  */
.price {
  margin-top: 50px;
  padding-bottom: 150px;
}

.price.container {
  display: flex;
}

.price-pre-title {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.price-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 16px;
}

.price-text {
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  text-align: center;
  margin-bottom: 49px;
}

.price-list {
  display: flex;
  justify-content: center;
  gap: 72px;
}

.price-list-item:nth-child(2) {
  background-color: #02897a;
}

.price-list-item:nth-child(2) .price-plan,
.price-list-item:nth-child(2) .price-dsc,
.price-list-item:nth-child(2) .price-money,
.price-list-item:nth-child(2) .price-usa,
.price-list-item:nth-child(2) .price-month,
.price-list-item:nth-child(2) .price-operators {
  color: white;
}

.price-list-item:nth-child(2) .price-btn {
  background: white;
  color: #02897a;
}

.price-list-item {
  border-radius: 8px;
  width: 322px;

  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-plan {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  margin-top: 32px;
}

.price-dsc {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
}

.price-box {
  display: flex;
  align-items: center;
}

.prive-box-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7px;
}

.price-money {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.price-usa {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}

.price-month {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.price-operators {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
  color: #22343d;

  text-align: center;
  margin: 16px 0;
}

.price-btn {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background: #02897a;
  margin-top: 30px;
  margin-bottom: 32px;

  transition-property: box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    background-color: #5cbab4;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
}

/* !================= Section Enterprise  */
.enterprise .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 51px;
  margin-bottom: 150px;
}

.enterprise-text {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.enterprise-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 8px;
}

.enterprise-text-product {
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
  margin-bottom: 32px;
}

.enterprise-btn {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #02897a;

  border-radius: 8px;
  width: 224px;
  height: 44px;

  transition-property: box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    background-color: #5cbab4;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
}

/* !================= Section Product  */
.product .container {
  display: flex;
  margin-bottom: 150px;
}

.product-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;

  text-align: center;
  margin-bottom: 56px;
}

.product-img {
  margin-right: 60px;
}

.product-list {
  display: flex;
  flex-direction: column;
}

.product-item {
  display: flex;
  flex-direction: column;
}

.product-item-title {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 16px;
  margin-top: 39px;
  display: flex;
  align-items: center;
}

.product-item-title::before {
  content: "";
  border-radius: 100px;
  padding: 24px;
  width: 50px;
  height: 50px;
  background: #f4f5f7;

  background-image: url("../images/green.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;

  display: inline-block;
}

.product-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.product-item:nth-child(2) .product-item-title::before {
  background-image: url("../images/blue.svg");
}

.product-item:nth-child(3) .product-item-title::before {
  background-image: url("../images/red.svg");
}

/* !================= Section Questions  */
.questions .container {
  display: flex;
  justify-content: center;
  max-width: 920px;
}

.questions-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 8px;

  text-align: center;
}

.questions-text {
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
  margin-bottom: 50px;

  text-align: center;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.questions-item {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 22px;
}

.questions-item-text {
  font-weight: 500;
  font-size: 18px;
  color: #22343d;
}

.questions-item-text-dsr {
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
}

.plus,
.minus {
  display: flex;
  align-items: center;
  fill: #02897a;
}

.svg-plus,
.svg-minus {
  margin-right: 16px;
}

.questions-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* !================= Section Join  */
.join-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;

  background-color: #02897a;
  border-radius: 32px;
  width: 968px;
  height: 345px;

  margin-top: 100px;
}

.join-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
  max-width: 510px;
  margin-bottom: 46px;
  margin-left: 51px;
}

.join-btn {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background: #fff;

  font-weight: 600;
  font-size: 20px;
  color: #02897a;

  margin-left: 51px;

  transition-property: color, box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    background-color: #5cbab4;
    color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
}

/* !================= FOOTER ================= */
.footer > .container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.footer-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-img-logo {
  width: 39px;
  height: 36px;
}

.footer-social-item {
  background-color: #edfffc;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(2);
  }
}

.footer-social-list {
  display: flex;
  margin-top: 18px;
  gap: 16px;
}

.footer-social-use {
  stroke: #02897a;
  fill: transparent;
}

.footer-resource-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
  margin-left: 146px;
  margin-right: 156px;
}

.footer-resource-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.18;
  color: #22343d;
  margin-left: 146px;
  margin-right: 156px;

  &:hover,
  &:focus,
  &:active {
    color: #02897a;
  }
}

.footer-legal-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
}

.footer-legal-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.18;
  color: #22343d;

  &:hover,
  &:focus,
  &:active {
    color: #02897a;
  }
}

.footer-newsletter-container {
  display: flex;
  flex-direction: column;
  margin-left: 83px;
}

.footer-newsletter-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  max-width: 280px;
}

.footer-last-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #22343d;
  margin-top: 10px;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
}

.fotter-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-input-box {
  position: relative;
}

.footer-form-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}

.footer-form-use {
  fill: #02897a;
}

.footer-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
    outline: none;


  padding: 10px 42px;
  border: 1px solid #bcd0e5;

  &:hover,
  &:focus {
    border: 2px solid #5cbab4;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
  }

  &:hover::placeholder {
    color: #5cbab4;
  }
}

.footer-newsletter-btn {
  width: 131px;
  height: 39px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #02897a;
  border-radius: 4px;
  border: none;

  transition-property: box-shadow, transform, color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #5cbab4;
  }
}

/* !================= MODAL - HEADER - SIGN-IN =================*/
.backdrop-sign-in {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-sign-in {
  width: 500px;
  min-height: 450px;
  border-radius: 40px;
  background-color: #fcfcfc;

  position: relative;

  padding: 72px 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
}

.modal-sign-in-close-svg {
  fill: #02897a;

  &:hover {
    fill: #5cbab4;
  }
}

.modal-sign-in-close-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 250ms ease;

  position: absolute;
  top: 40px;
  right: 40px;

  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.5);
  }
}

.modal-sign-in-mail-box,
.modal-sign-in-password-box {
  position: relative;
}

.modal-sign-in-mail-svg,
.modal-sign-in-password-svg {
  position: absolute;
  left: 13px;
  z-index: 1;
  top: 40%;
  transform: translateY(-40%);
  fill: #02897a;
}

.modal-sign-in-form {
  display: flex;
  flex-direction: column;
}

.modal-sign-in-title {
  text-align: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #02897a;
}

.modal-sign-in-input {
  border: 1px solid #bcd0e5;
  border-radius: 30px;
  width: 325px;
  height: 48px;
  padding: 10px 42px;
  margin-bottom: 10px;

  &::placeholder {
    color: #02897a;
  }
}

.modal-sign-in-input:focus {
  border-color: #02897a; /* зелений при фокусі */
  outline: none; /* забирає стандартну синю обводку */
}

.modal-sign-in-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}
.modal-sign-in-input-checkbox {
  margin-right: 10px;
}

.modal-sign-in-text {
  color: #22343d;
}

.modal-sign-in-btn {
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #bcd0e5;
  border-radius: 30px;
  width: 325px;
  height: 48px;

  padding: 10px 42px;
  background-color: #02897a;
  color: white;

  transition-property: transform, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
    background-color: #5cbab4;
  }
}

/* !================= MODAL - HEADER - SIGN-UP =================*/
.backdrop-sign-up {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-sign-up {
  width: 500px;
  min-height: 450px;
  border-radius: 40px;
  background-color: #fcfcfc;

  position: relative;

  padding: 72px 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
}

.modal-sign-up-close-svg {
  fill: #02897a;

  &:hover {
    fill: #5cbab4;
  }
}

.modal-sign-up-close-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 250ms ease;

  position: absolute;
  top: 40px;
  right: 40px;

  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.5);
  }
}

.modal-sign-up-mail-box,
.modal-sign-up-password-box {
  position: relative;
}

.modal-sign-up-mail-svg,
.modal-sign-up-password-svg {
  position: absolute;
  left: 13px;
  z-index: 1;
  top: 40%;
  transform: translateY(-40%);
  fill: #02897a;
}

.modal-sign-up-form {
  display: flex;
  flex-direction: column;
}

.modal-sign-up-title {
  text-align: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #02897a;
}

.modal-sign-up-input {
  border: 1px solid #bcd0e5;
  border-radius: 30px;
  width: 325px;
  height: 48px;
  padding: 10px 42px;
  margin-bottom: 10px;
    outline: none;


  &::placeholder {
    color: #02897a;
  }
}

.modal-sign-up-input:focus {
  border-color: #02897a; /* зелений при фокусі */
  outline: none; /* забирає стандартну синю обводку */
}

.modal-sign-up-text {
  color: #22343d;
}

.modal-sign-up-btn {
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #bcd0e5;
  border-radius: 30px;
  width: 325px;
  height: 48px;

  padding: 10px 42px;
  background-color: #02897a;
  color: white;

  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
  }
}

.modal-sign-up-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-sign-up-link {
  color: 5cbab4;
  text-decoration: underline;
}
